Config(
  // Also show the Desktop Actions defined in the desktop files, e.g. "New Window" from LibreWolf
  desktop_actions: true,
  // The terminal used for running terminal based desktop entries, if left as `None` a static list of terminals is used
  max_entries: 10,
  terminal: Some("kitty"),
)
