Config(
  prefix: "; ",
  // NOTE: `{}` is replaced by the search query and `https://` is automatically added in front.
  engines: [

      Custom(
          name: "SearXNG",
          url: "search.quoll-ratio.ts.net/search?q={}",
      ),
      Custom(
          name: "Github",
          url: "github.com/search?q={}&type=repositories",
      ),
      Custom(
          name: "Nix Packages",
          url: "search.nixos.org/packages?channel=unstable&query={}",
      ),
      Custom(
          name: "StartPage",
          url: "www.startpage.com/sp/search?query={}",
          ),
  ]
)
