@import "mocha.css";

* {
  min-height: 0;
  font-size: large;
  font-family: "Arimo";
}

#window {
  border-radius: 1rem;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  color: @text;
}

#workspaces button {
  border-radius: 1rem;
}

#workspaces button.active {
  color: @flamingo;
  font-weight: bold;
  background-color: @overlay0;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @overlay1;
  font-weight: bold;
  border-radius: 1rem;
}

#backlight,
#battery,
#clock,
#cpu,
#keyboard-state,
#language,
#memory,
#network,
#power-profiles-daemon,
#privacy,
#tray,
#wireplumber {
  background-color: @surface0;
  padding: 0 0.5rem;
  border-radius: 1rem;
  color: @text;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#wireplumber.muted {
  color: @red;
  text-decoration: line-through;
}

#tray {
  border-radius: 1rem;
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}
